body{
    margin:0px;
}

.panel{
    border:1px solid #ddd;
    border-radius:4px;
    margin-left:15px;
    margin-right:15px;
}

.header{
    font-weight:bold;
    border-bottom:1px solid #ddd;
    padding:10px 15px;
    color:#555;
    background-color: #f5f5f5;
    text-align:left;
    margin-bottom:10px;
}

.topHead{
    height:100%;
    text-align:center;
    font-weight:bold;
    font-size:18px;
    line-height:50px;
    grid-column-start: 1;
    grid-column-end: 3;
    background-image:linear-gradient(#04519b,#044687 60%, #033769);
    color:whitesmoke;
    position:relative;
    border-radius:4px;
    padding:0px 15px;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype')
}