.grid-container{
    display:grid;
    grid-template-rows:auto minmax(0 1fr);
    grid-row-gap:15px;
}

.topSectors{
    text-align:center;
}
.sector.large .sectorImg{
    height: 500px;
}

.sectorImg{
    height: 220px;
}

.sector{
    display:inline-block;
    border:1px solid #ddd;
    border-radius:4px;
    padding:2px;
    box-sizing:border-box;
    margin:8px;
    cursor:pointer;
}

.sectorLabel{
    text-align:center;
}

#homeLink{
    font-size:18px;
    cursor:pointer;
    font-family:'Glyphicons Halflings';
}

#homeLink a{
    color:whitesmoke;
    text-decoration:none;
}

#header{
    text-align:left;
}

#sectorHome{
    margin-top:15px;
    display:inline-block;
    text-align:center;
}