.inlineBlock{
    display:inline-block;
    box-sizing:border-box;
}

body{
    height:100vh;
    box-sizing:border-box;
    padding-bottom:10px;
}

.grid-container{
    display:grid;
    grid-template-columns:165px auto;
    grid-template-rows:50px minmax(4em, 1fr);
    grid-row-gap:15px;
    grid-column-gap:10px;
    height:100%;
}

.panel{
    margin:0px;
}

#main{
    position:relative;
    display:grid;
    grid-template-rows:auto auto minmax(3em, 1fr);
    margin-right:15px;
}

#images{
    display:grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
    height:100%;
    grid-gap:3px;
    padding:3px;
    box-sizing:border-box;
    overflow-y:auto;
}

#images > div{
    border:1px solid #ddd;
    padding:2px 10px;
    text-align:center;
    font-weight:bold;
}

#sectors{
    height:100%;
    margin-left:15px;
    display:grid;
    grid-template-rows:auto minmax(2em, 1fr);
}

#noSector{
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-weight:bold;
    font-size:15pt;
    background-color:white;
}

#sectorListContainer{
    overflow-y: auto;
}

#sectorList{
    list-style-type:none;
    margin-block-start:0px;
    padding:0px 5px;
    padding-inline-start:5px;
}

div#customSector{
    padding-left:5px;
    padding-top:3px;
}

#area{
    display:inline-block;
    margin-top:10px;
}

#standardArea{
    margin-bottom:5px;
}

#customArea{
    display:grid;
    grid-template-columns:auto auto auto auto;
    grid-column-gap:5px;
}

#customArea label{
    text-align:right;
}

#sectorList li{
    cursor:pointer;
}

#sectorList li.selected{
    background-color:lightblue;
}

#homeLink{
    position:absolute;
    left: 15px;
    font-size:18px;
    cursor:pointer;
    font-family:'Glyphicons Halflings'
}

#imageHeader{
    margin-bottom:0px;
}

#customResult{
  margin-top:15px;
}

div.loader{
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.so2img{
    position:relative;
    padding-right:24px;
    padding-left:24px;
    display:inline-block;
}

.timeseries{
    position:relative;
}

.fauxbutton{
    position:absolute;
    background-color:#E3E3E3;
    z-index:3;
    padding:2px 5px;
    border-radius:5px;
    box-shadow:2px 2px 5px darkgrey;
    cursor:pointer;
}
.download{
    top:3px;
    right:3px;
}

.glyphImage{
    font-family:'Glyphicons Halflings';
    width:24px;
    height:24px;
    position:absolute;
    cursor:pointer;
    font-size:24px;
    color:grey;
}

.prevImage, .nextImage{
    bottom:70px;
}

.prevImage{
    left:0px;
}

.nextImage{
    right:0px;
}

.navButton.disabled{
    pointer-events:none;
    color:darkgrey;
}

#excludeDates{
    width:280px;
    box-sizing:border-box;
    padding:3px;
    border:1px solid #C5C5C5;
    border-radius:3px;
}
#excludeDates .d-header{
    font-size:initial;
    background-color:#E9E9E9;
    color:#272727;
}

#Datepickk .d-calendar{
    font-size:initial;
}

#Datepickk .d-month-picker>div,
#Datepickk .d-year-picker>div{
    line-height:30px;
}

#Datepickk .d-month-picker.d-show,
#Datepickk .d-year-picker.d-show{
    height: 30px;
}

#Datepickk .d-weekdays{
    line-height:0px;
}

#Datepickk .d-week{
    background-color:initial;
    color:initial;
    font-weight:bold;
}

#Datepickk .d-table input+label.today text:before{
    bottom:0px;
}

#Datepickk .d-header i{
    width:28px;
    height:28px;
}

#Datepickk .d-header i#d-previous:after{
    background-position: -80px -192px;
    border-right:none;
    top:6px;
    left:6px;
}

#Datepickk .d-header i#d-next:after{
    background-position:-48px -192px;
    border-left:none;
    top:6px;
    left:6px;
}

#Datepickk .d-header i#d-next:before,
#Datepickk .d-header i#d-previous:before{
    border-top:none;
    border-left:none;
    border-bottom:none;
    border-right:none;
}

#Datepickk .d-header i:after{
    background-image:url("/static/img/ui-icons_444444_256x240.png");
    background-repeat:no-repeat;
    width:16px;
    height:16px;
    border-top:none;
    border-right:none;
    border-left:none;
    border-bottom:none;
}

#Datepickk .d-header i:hover{
    background-color:#EDEDED;
    border:1px solid #CCC;
    border-radius:2px;
}

#Datepickk .d-table label{
    background-color:#F6F6F6;
}

#Datepickk .d-table input+label{
    margin:1px;
    padding-right:3px;
    flex-basis:13.55124%;
    border:1px solid #CCC;
    justify-content:flex-end;
    align-items:flex-end;
}

#Datepickk .d-table input+label:before{
    top:5%;
    left:5%;
    width:90%;
    height:90%;
}
