#tabs{
    margin:0px;
    padding:0px;
    padding-bottom:-1px;
    padding-left:5px;
    padding-top:10px;
    box-sizing:border-box;
    width:100%;
    border-bottom:1px solid #C9C9C9;
    margin-bottom:5px;
    position:relative;
    z-index:1;
}

.tabButton{
    margin:0px;
    margin-right:3px;
    padding:5px;
    border:1px solid #C9C9C9;
    background-color:#EAEAEA;
    background: linear-gradient(to top,#FFFFFF,#DBDBDB);
    position:relative;
    top:1px;
    z-index: 2;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    vertical-align:bottom;
}

button.tabButton:not(.current):hover{
    background-color:#DFDFDF;
    border-left-color: #878787;
    border-top-color: #878787;
    border-right-color: #878787;
}

.tabButton.current{
    background-color:white;
    border-bottom:1px solid white;
    padding-bottom:10px;
}

.tabBadge{
    width:12px;
    height:12px;
    border:2px solid white;
    padding:2px;
    background-color:red;
    color: white;
    font-size: .75em;
    position:relative;
    left:-12px;
    top:-10px;
    text-align: center;
    border-radius: 12px;
    z-index:3;
}
