img.logo{
    width:107px;
}

.loadingOverlay {
    position: absolute;
    z-index: 10;
    width: max(500px, 100%);
    height: max(500px, 100%);
    top: 0px;
    background-color: rgba(128, 128, 128, .25);
}

.loadingOverlay::before {
    content: "Loading";
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    border: 9px solid transparent;
    z-index: 20;
}

.loadingOverlay::after {
    content: "";
    border: 9px solid whitesmoke;
    border-top-color: blue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    line-height: 50px;
    z-index: 15;
    animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#plot {
    position: relative;
}

.dateList,
.inner,
.location {
    display: inline-block;
    vertical-align: top;
}

#viewWrapper {
    display: inline-block;
    line-height: normal;
}

#titleText {
    margin-top: 0px;
    margin-bottom: 0px;
}

.top {
    display: inline-block;
    vertical-align: top;
    line-height: 2.5em;
    width: 756px;
    text-align: center;
}

.dateList {
    padding-right: 3px;
}

.inner {
    border: 1px solid black;
    padding-right: 45px;
    position: relative;
    margin-bottom: 55px;
}

.outter {
    padding-top: 130px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    white-space: nowrap;
}

.leftMarkers div,
.rightMarkers div {
    height: 55px;
    border-top: 1px solid;
    box-sizing: border-box;
}

.leftMarkers,
.rightMarkers {
    width: 8px;
    position: absolute;
    top: -1px;
}

.leftMarkers {
    left: 0%;
}

.rightMarkers {
    right: 0%;
}

.navArrows {
    display: grid;
    grid-template-rows: 25px 1fr 25px 30px;
    position: relative;
    padding-right: 5px;
}

.navArrows button {
    position: relative;
    background-repeat: no-repeat;
    width: 25px;
    background-size: 100%;
}

.prevPage {
    background-image: url('../img/UpArrow.svg');
    cursor: pointer;
    top: -.75em;
}

.prevPage.disabled {
    background-image: url('../img/UpArrowDisabled.svg');
}

.nextPage {
    background-image: url('../img/DownArrow.svg');
    cursor: pointer;
    top: -1.75em;
}

.date,
.weekBlock {
    height: 55px;
    font-size: 11pt;
    font-family: "Times New Roman", Times, serif;
    position: relative;
    box-sizing: border-box;
}

.date {
    top: -.5em;
}

.weekBlock {
    border-right: 1px solid;
}

.location {
    position: relative;
    width: 55px;
    text-align: center;
}

.locTitle {
    position: absolute;
    white-space: nowrap;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    font-size: 11pt;
    font-family: "Times New Roman", Times, serif;
    bottom: calc(100% + 5px);
    left: 100%;
}

.weekDetail {
    position: absolute;
    border: 1px solid black;
    box-sizing: border-box;
    display: table;
}

.weekText {
    display: table-cell;
    vertical-align: middle;
    font-size: 10pt;
    line-height: 25%;
    font-family: 'Times New Roman', Times, serif;
}

.weekDetail.percent50 {
    width: 11%;
    height: 11%;
    right: -5.5%;
    top: 40%;
}

.weekDetail.percent60 {
    width: 25%;
    height: 25%;
    right: -12.5%;
    top: 33%;
}

.weekDetail.percent70 {
    width: 40%;
    height: 40%;
    right: -20%;
    top: 26%;
}

.weekDetail.percent80 {
    width: 54.5%;
    height: 54.5%;
    right: -27.2%;
    top: 19%;
}

.weekDetail.percent90 {
    width: 72%;
    height: 72%;
    right: -36%;
    top: 12%;
}

.weekDetail.percent100 {
    width: 90%;
    height: 90%;
    right: -45%;
    top: 5%;
}

.weekDetail.percentNone {
    border: none;
}

.info {
    display:block;
    position: absolute;
    background-color: rgb(224,224,224);
    color:rgb(78,78,78);
    font-size: smaller;
    box-shadow: 2px 2px 1px rgba(0,0,0,.25);
    padding:3px 5px;
    z-index:100;
}