<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/styles/global_1.css">
        <link rel="stylesheet" type="text/css" href="static/styles/home_1.css">
        
        <script type="text/javascript" src='static/scripts/jquery-3.4.1.min.js'></script>
        <script type="text/javascript" src='static/scripts/home_1.js'></script>
        <title>SO2 Stacked Sectors</title>
    </head>
    <body>
        <div id="container">
            <div id="header" class="topHead">
                <div id="homeLink">
                    <a href="https://avo.alaska.edu/admin/avoadmin">&#xe021;</a>
                </div>
            </div>
        
            <div id="sectorHome" class="panel">

                <div class="header">
                    SO<sub>2</sub> Stacked Sectors
                </div>
                
                <div class="topSectors">
                    <div class="sector large" data-sector="Full Arc">
                        <img class="sectorImg" src="images/Full%20Arc/so2-day-1km.png"><br>
                        <div class="sectorLabel">Full Arc</div>
                    </div>
                    <br>
                    <div class="sector large" data-sector="Western Aleutians">
                        <img class="sectorImg" src="images/Western%20Aleutians/so2-day-1km.png"><br>
                        <div class="sectorLabel">Western Aleutians</div>
                    </div>
                    <div class="sector large" data-sector="Eastern Aleutians">
                        <img class="sectorImg" src="images/Eastern%20Aleutians/so2-day-1km.png"><br>
                        <div class="sectorLabel">Eastern Aleutians</div>
                    </div><br>
                    <div class="sector large" data-sector="AK Peninsula">
                        <img class="sectorImg" src="images/AK%20Peninsula/so2-day-1km.png"><br>
                        <div class="sectorLabel">AK Peninsula</div>
                    </div>
                    <div class="sector large" data-sector="CI to Wrangell">
                        <img class="sectorImg" src="images/CI%20to%20Wrangell/so2-day-1km.png"><br>
                        <div class="sectorLabel">CI to Wrangell</div>
                    </div>
                    <br>
                    <div class="sector large" data-sector="Western AK">
                        <img class="sectorImg" src="images/Western%20AK/so2-day-1km.png"><br>
                        <div class="sectorLabel">Western AK</div>
                    </div>
                    <div class="sector large" data-sector="Eastern AK">
                        <img class="sectorImg" src="images/Eastern%20AK/so2-day-1km.png"><br>
                        <div class="sectorLabel">Eastern AK</div>
                    </div>
                </div>

                <div>
                    {% for sector in sectors_1 %}
                    <div class="sector" data-sector="{{sector}}">
                        <img class="sectorImg" src="images/{{sector}}/so2-day-1km.png"><br>
                        <div class="sectorLabel">{{sector}}</div>
                    </div>
                    {% endfor %}
                </div>

                                
                <div>
                    {% for sector in sectors_2 %}
                    <div class="sector" data-sector="{{sector}}">
                        <img class="sectorImg" src="images/{{sector}}/so2-day-1km.png"><br>
                        <div class="sectorLabel">{{sector}}</div>
                    </div>
                    {% endfor %}
                </div>
                
                <div>
                    <div class="sector" data-sector="Kamchatka">
                        <img class="sectorImg" src="images/Kamchatka/so2-day-1km.png"><br>
                        <div class="sectorLabel">Kamchatka</div>
                    </div>
                </div>

            </div>
            
        </div>
        
    </body>
</html>