<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/styles/jquery-ui.min.css">
        <link rel="stylesheet" type="text/css" href="static/styles/global_1.css">
        <link rel="stylesheet" type="text/css" href="static/styles/tabs_1.0.css">
        <link rel="stylesheet" type="text/css" href="static/styles/datepickk.min.css">
        <link rel="stylesheet" type="text/css" href="static/styles/index_3.css">


        <script type="text/javascript" src='static/scripts/jquery-3.4.1.min.js'></script>
        <script type="text/javascript" src='static/scripts/jquery-ui.min.js'></script>
        <script type="text/javascript" src='static/scripts/plotly.min.js'></script>
        <script type="text/javascript" src='static/scripts/datepickk.min.js'></script>
        <script type="text/javascript" src='static/scripts/index_6.js'></script>

        {%if selected!=None %}
        <script type="text/javascript">
            $(document).ready(function(){
                $("#sector{{selected|replace(' ','')}}").click()
            });
        </script>
        {% endif %}

	<title>SO2 Stacked Sectors</title>
    </head>
    <body>
        <div id="container" class="grid-container">
            <div id="header" class="topHead">
                <div id="homeLink">
                    &#xe021
                </div>
                SO<sub>2</sub> Stacked Sectors
            </div>

            <div id="sectors" class="inlineBlock panel">
                <div id="sectorHeader" class="header">Available Sectors</div>
                <div id="sectorListContainer">
                    <ul id="sectorList">
                        {% for sector in sectors %}
                            <li id="sector{{sector|replace(' ','')}}" class="sector">{{sector}}</li>
                        {% endfor %}
                            <li><hr></li>
                            <li id="sectorCustom" class="customSector">Custom</li>
                    </ul>
                </div>

            </div><div id="main" class="inlineBlock panel">
                <div id="imageHeader" class="header">Stacked Sector Images</div>

                <div id="tabs">
                	<button id="tropomi" class="tabButton current dataset" data-dataset='TROPOMI'>TROPOMI</button><button id="omps" class="tabButton dataset" data-dataset='OMPS'>OMPS</button>
                </div>

                <div id="noSector">
                    Images will load after selecting a sector
                </div>

                <div id="images">
                    <div>
                    </div>

                    <div>
                        SO<sub>2</sub> Concentration @ <span id="level1tag">1km</span>
                    </div>
                    <div>
                        SO<sub>2</sub> Concentration @ <span id="level2tag">7km</span>
                    </div>

                    {% for tag, days in [('day',1),('week',7),('month',30),('year',365)] %}
                    <div>
                        {{days}} Day
                    </div>
                    {% for height in (1,7) %}
                    <div id="so2{{tag}}{{height}}kmDiv" class="imgDiv">
                        <div class="so2img">
                            <img id="so2{{tag}}{{height}}km"></img>
                            <div class="download glyphImage">&#xe197;</div>
                            {% if tag in ('day','week') %}
                            <div class="prevImage glyphImage navButton">&#xe132;</div>
                            <div class="nextImage glyphImage navButton">&#xe131;</div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}



                    <div>
                        Time Series
                    </div>
		    <div class="timeseries">
			<div class="download fauxlink" style="display:none">CSV</div>
			<div id="timeSeries1kmDiv">
			</div>
		    </div>
		    <div class="timeseries">
			<div class="download fauxlink" style="display:none">CSV</div>
			<div id="timeSeries7kmDiv">
			</div>
		    </div>

                </div>

                <div id="customSector" style="display:none">
                    <div id="area">
                        <div id="standardArea">
                            <label for="customAreaSelect">Image Area:</label>
                            <select name="areaSelected" id="customAreaSelect">
                                {% for sector in sectors %}
                                <option>{{sector}}</li>
                                {% endfor %}
                                <option disabled>----------</option>
                                <option>Custom</option>
                            </select>
                            <label for="datasetSelect">Image Dataset:</label>
                            <select name="datasetSelect" id="datasetSelect">
                                <option>1km</option>
                                <option>7km</option>
                                <option>15km</option>
                            </select>
                        </div>
                        <div id="customArea" style="display:none">
                            <label for="latitudeFrom">Latitude From:</label>
                            <input type="number" max=90 min=-90 class="latitude" name="latitudeFrom" id="latitudeFrom">

                            <label for="latitudeTo">Latitude To:</label>
                            <input type="number" max=90 min=-90 class="latitude" name="latitudeTo" id="latitudeTo">

                            <label for="longitudeFrom">Longitude From:</label>
                            <input type="number" max=360 min=-360 class="longitude" name="longitudeFrom" id="longitudeFrom">

                            <label for="longitudeTo">Longitude To:</label>
                            <input type="number" max=360 min=-360 class="longitude" name="longitudeTo" id="longitudeTo">

                            <label for="labelSelect">Show Volcano names:</label>
                            <select id="labelSelect">
                                <option>All</option>
                                <option>Some</option>
                                <option>None</option>
                            </select>
                        </div>
                    </div>
                    <br><br>
                    <div id="customImageDate">
                        <label for="dateRange">Stack Image For:</label>
                        <select id="dateRange">
                            <option value="1">1 day</option>
                            <option value="7">7 days</option>
                            <option value="30">30 days</option>
                            <option value="365">365 days</option>
                            <option value="-1">Custom Date Range</option>
                        </select>
                        <select id="dateType">
                            <option value="e">Ending</option>
                            <option value="b">Beginning</option>
                        </select>

                        <input type="text" class="date" id="referenceDate">

                        <br>
                        <div id="customDateRange" style="display:none">
                            <label for="dateFrom">From:</label>
                            <input type="text" id="dateFrom" name="dateFrom" class="date">

                            <label for="dateTo">To:</label>
                            <input type="text" id="dateTo" name="dateTo" class="date">
                        </div>
                    </div>
                    <input type="checkbox" id="exclude">Exclude Dates
                    <div id="excludeDates" style="display:none"></div>
                    <br>
                    <button type="button" id="generateCustomImage">Generate</button>
                    <div id="customResult">
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>
